@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --main-darklg: #1d2635;
  --main-dark: #161d29;
  --primary-color: #2f80ec;
  --main-light: #eeeeee;
  font-family: "Poppins", sans-serif;
}

#createSurvey {
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

#createQuiz {
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

#closeModal {
    position: absolute;
    top: 0.1px;
    right: 5px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: #ff0000;
}

#quizModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    width: 400px;
    width: 400px;
}

#closeQuizModal {
    position: absolute;
    top: 1px;
    right: 7px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: #ff0000;
}

#surveyModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    max-width: 400px;
}

#closeSurveyModal {
    position: absolute;
    top: 1px;
    right: 7px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: #ff0000;
}

#addOption {
    background-color: red;
    color: black;
    padding: 10px 20px;
    border: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
}

#addOption:hover {
    background-color: darkred;
}

#surveyModal h2 {
    margin-bottom: 20px;
}

#surveyQuestion {
    width: 85%;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    font-size: 18px;
    align-items: center;
}

.predefined-answers {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.predefined-answers p {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: auto;
    transition: background-color 0.3s;
}

#startSurvey {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#startSurvey:hover {
    background-color: #45a049;
}

#predefinedAnswers p {
    cursor: pointer;
    padding: 10px;
    background-color: #2f80ec;
    color: #fff;
    border-radius: 5px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.sub-menu {
    display: none;
    flex-direction: column;
    margin-top: 20px; /* Добавьте необходимый отступ между подменю и предыдущим элементом */
}

* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  position: relative;
  width: 100%;
  background-color: var(--main-darklg);
}

.logo > h3 {
  color: var(--main-light);
}

.main {
  overflow: hidden;
  height: 92vh;
  display: flex;
}

.main__left {
  flex: 0.7;
  display: flex;
  flex-direction: column;
}

.videos__group {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--main-dark);
    transform: scaleX(-1);
}

.hidden {
    display: none;
}

#stopScreenShareButton {
  padding: 10px 15px;
  background-color: #d9534f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#stopScreenShareButton:hover {
  background-color: #c9302c;
}

video {
    height: 300px;
    border-radius: 1rem;
    margin: 0.5rem;
    width: 400px;
    object-fit: cover;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
.options {
  padding: 1rem;
  display: flex;
  background-color: var(--main-darklg);
}

.options__left {
  display: flex;
}

.options__right {
  display: flex;
  margin-left: auto;
}

.options__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  height: 50px;
  border-radius: 5px;
  color: var(--main-light);
  font-size: 1.2rem;
  width: 50px;
  margin: 0 0.5rem;
  cursor: pointer;
}

.background__red {
  background-color: #f6484a;
}

.main__right {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  background-color: #242f41;
}

.main__chat_window {
  flex-grow: 1;
  overflow-y: scroll;
}

.main__chat_window::-webkit-scrollbar {
  display: none;
}

.main__message_container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__message_container > input {
  height: 50px;
  flex: 1;
  font-size: 1rem;
  border-radius: 5px;
  padding-left: 20px;
  border: none;
}

.messages {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

.message {
  display: flex;
  flex-direction: column;
}

.message > b {
  color: #eeeeee;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.message > b > i {
  margin-right: 0.7rem;
  font-size: 1.5rem;
}

.message > span {
  background-color: #eeeeee;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 5px;
}

#video-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#showChat {
  display: none;
}

#startScreenShareButton {
    font-size: 18px;
    padding: 10px 10px;
    width: auto;
    height: auto;
    cursor: pointer;
}

#createInteractive {
    font-size: 18px;
    padding: 10px 10px;
    width: auto;
    height: auto;
    cursor: pointer;
}

.header__back {
  display: none;
  position: absolute;
  font-size: 1.3rem;
  top: 17px;
  left: 28px;
  color: #fff;
}

#quizModal {
    display: none;
}

#quizModal .modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

#quizModal input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

#quizOptions {
    display: flex;
    flex-direction: column;
}

#quizOptions input {
    margin-bottom: 10px;
}

.delete-option {
    background-color: transparent;
    border: none;
    color: purple;
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px; /* Расстояние между вариантом ответа и кнопкой удаления */
}

/* Разместите элементы в строку, чтобы кнопка удаления была справа от варианта ответа */
.quiz-option {
    display: flex;
    align-items: center;
}

#startQuiz {
    background-color: red;
    color: black;
    padding: 15px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#startQuiz:hover {
    background-color: darkred;
}

/*
.screen-share-container {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    z-index: 100;
    transform: scaleX(-1);
}
*/

/*
.screen-share-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}
*/

/*
.screen-share-video {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 8px;
    transform: scaleX(-1);
}
*/

#createInteractive:hover {
    background-color: #0056b3;
}

#startScreenShareButton:hover {
  background-color: #0056b3;
}

@media (max-width: 700px) {
  .main__right {
    display: none;
  }
  .main__left {
    width: 100%;
    flex: 1;
  }

  video {
    height: auto;
    width: 100%;
  }

  #showChat {
    display: flex;
  }
}
